---
const images = [
	["/assets/backgrounds/pic5.jpg", "Jaffna"],
	["/assets/backgrounds/pic6.jpg", "Hello"],
	["/assets/backgrounds/pic7.jpg", "Caption 3"],
	["/assets/backgrounds/pic10.jpg", "Caption 4"],
	["/assets/backgrounds/pic11.jpg", "Caption 5"],
	["/assets/backgrounds/pic12.jpg", "Caption 6"],
];
---

<style>
	.slideshow-container {
		max-width: 100%;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
	}

	.slides {
		display: none;
	}

	.prev,
	.next {
		display: none;
		cursor: pointer;
		position: absolute;
		top: 50%;
		width: auto;
		padding: 16px;
		color: white;
		font-weight: bold;
		font-size: 18px;
		transition: 0.6s ease;
		border-radius: 0 3px 3px 0;
		user-select: none;
	}

	.next {
		right: 0;
		border-radius: 3px 0 0 3px;
	}

	.prev:hover,
	.next:hover {
		background-color: rgba(0, 0, 0, 0.8);
	}

	.dots {
		text-align: center;
		margin-top: 40px;
		padding: 10px 0;
		background: rgba(0, 0, 0, 0.5);
		max-width: 400px;
		margin-bottom: 20px;
		border-radius: 2em;
	}

	.dot {
		cursor: pointer;
		height: 15px;
		width: 15px;
		margin: 0 2px;
		background-color: #bbb;
		border-radius: 50%;
		display: inline-block;
		transition: background-color 0.6s ease;
	}

	.active,
	.dot:hover {
		background-color: #717171;
	}

	.fade {
		-webkit-animation-name: fade;
		-webkit-animation-duration: 1.5s;
		animation-name: fade;
		animation-duration: 1.5s;
	}

	@-webkit-keyframes fade {
		from {
			opacity: 0.4;
		}
		to {
			opacity: 1;
		}
	}

	@keyframes fade {
		from {
			opacity: 0.4;
		}
		to {
			opacity: 1;
		}
	}

	.image_slideshow-container {
		width: 80%;
		object-fit: contain;
		border: 1px solid black;
		box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
		border-radius: 1rem;
		transition: transform 2s ease 0s;
	}
	.image_slideshow-container:hover {
		transform: perspective(3000px) rotateY(2deg);
	}

	.caption {
		color: rgb(251, 251, 251);
		font-size: 1.2rem;
		position: absolute;
		bottom: -40px;
		text-align: center;
		width: 100%;
	}
</style>

<div class="slideshow-container">
	{
		images.map((image, index) => (
			<div
				class="slides fade"
				style="max-width: 1200px; display: flex; justify-content: center; align-items: center;"
			>
				<img src={image[0]} class="image_slideshow-container" id="image" />
				<div class="caption">{image[1]}</div>
			</div>
		))
	}
	<a class="prev">&#10094;</a>
	<a class="next">&#10095;</a>
</div>
<br />

<div class="dots">
	{images.map(() => <span class="dot" />)}
</div>

<script>
	let slideIndex = 1;
	let timing = 5000;

	function showSlides(n) {
		const slides = document.getElementsByClassName("slides");
		const dots = document.getElementsByClassName("dot");

		if (n > slides.length) {
			slideIndex = 1;
		}
		if (n < 1) {
			slideIndex = slides.length;
		}

		for (let i = 0; i < slides.length; i++) {
			(slides[i] as HTMLElement).style.display = "none";
		}

		for (let i = 0; i < dots.length; i++) {
			dots[i].className = dots[i].className.replace(" active", "");
		}

		(slides[slideIndex - 1] as HTMLElement).style.display = "block";
		dots[slideIndex - 1].className += " active";
	}

	function plusSlides(n) {
		showSlides((slideIndex += n));
	}

	function currentSlide(n) {
		showSlides((slideIndex = n));
	}

	function autoShowSlides() {
		plusSlides(1);
	}

	document.addEventListener("DOMContentLoaded", () => {
		showSlides(slideIndex);

		document
			.querySelector(".prev")
			.addEventListener("click", () => plusSlides(-1));
		document
			.querySelector(".next")
			.addEventListener("click", () => plusSlides(1));

		const dots = document.getElementsByClassName("dot");
		for (let i = 0; i < dots.length; i++) {
			dots[i].addEventListener("click", () => currentSlide(i + 1));
		}

		setInterval(autoShowSlides, timing); // Change slide every 3 seconds
	});

	// document.getElementById("image").onmouseover = function () {
	// 	MouseOver();
	// };
	// document.getElementById("image").onmouseout = function () {
	// 	MouseOut();
	// };

	// function MouseOver() {
	// 	document.getElementById("caption").style.display = "block";
	// 	timing = 0;
	// }
	// function MouseOut() {
	// 	document.getElementById("caption").style.display = "none";
	// 	timing = 3000;
	// }
</script>
