---
import Flip from "../components/flipping_card.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const t = useTranslations(getLangFromUrl(Astro.url));
const lang = getLangFromUrl(Astro.url);
import practice_papers from "../practice_papers.json";
const practice_papers_data = practice_papers;

// JS required for this section goes here (don't bother for now)
---

<section class="my-10">
	<h2 class="text-center">{t("practice_papers_title")}</h2>
	<p class="text-center text-xl my-8 px-14">
		{t("practice_papers_p")}
	</p>
	<div
		id="flip_cards"
		class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 max-w-10xl gap-4 mt-10 mx-auto text-center justify-items-center"
	>
		{
			practice_papers_data.map((entry) => {
				return (
  <Flip
    subject={lang === "en" ? entry.subject_en : entry.subject_ta}
    download_link_e={entry.download_link_e}
    download_link_t={entry.download_link_t}
  />
);

			})
		}
		
	</div>
</section>
