---
const images = [
	"/assets/backgrounds/pic1.jpg",
	"/assets/backgrounds/pic3.jpg",
	"/assets/backgrounds/pic5.jpg",
	"/assets/backgrounds/pic6.jpg",
	"/assets/backgrounds/pic7.jpg",
];
---

<style>
	.slideshow-container {
		max-width: 100%;
		margin: auto;
	}

	.slides {
		display: none;
	}

	.prev,
	.next {
		display: none;
		cursor: pointer;
		position: absolute;
		top: 50%;
		width: auto;
		padding: 16px;
		color: white;
		font-weight: bold;
		font-size: 18px;
		transition: 0.6s ease;
		border-radius: 0 3px 3px 0;
		user-select: none;
	}

	.next {
		right: 0;
		border-radius: 3px 0 0 3px;
	}

	.prev:hover,
	.next:hover {
		background-color: rgba(0, 0, 0, 0.8);
	}

	.dots {
		text-align: center;
		padding: 10px 0;
		background: rgba(0, 0, 0, 0.5);
		max-width: 800px;
	}

	.dot {
		cursor: pointer;
		height: 15px;
		width: 15px;
		margin: 0 2px;
		background-color: #bbb;
		border-radius: 50%;
		display: inline-block;
		transition: background-color 0.6s ease;
	}

	.active,
	.dot:hover {
		background-color: #717171;
	}

	.fade {
		-webkit-animation-name: fade;
		-webkit-animation-duration: 1.5s;
		animation-name: fade;
		animation-duration: 1.5s;
	}

	@-webkit-keyframes fade {
		from {
			opacity: 0.4;
		}
		to {
			opacity: 1;
		}
	}

	@keyframes fade {
		from {
			opacity: 0.4;
		}
		to {
			opacity: 1;
		}
	}
</style>

<div class="slideshow-container">
	{
		images.map((image) => (
			<div class="slides fade" style="max-width: 800px;">
				<img src={image} style="width:80%; object-fit: contain;" />
			</div>
		))
	}
	<a class="prev">&#10094;</a>
	<a class="next">&#10095;</a>
</div>
<br />

<div class="dots" style="display: none;">
	{images.map(() => <span class="dot" />)}
</div>

<script>
	let slideIndex = 1;

	function showSlides(n) {
		const slides = document.getElementsByClassName(
			"slides",
		) as HTMLCollectionOf<HTMLElement>;
		const dots = document.getElementsByClassName("dot");

		if (n > slides.length) {
			slideIndex = 1;
		}
		if (n < 1) {
			slideIndex = slides.length;
		}

		for (let i = 0; i < slides.length; i++) {
			(slides[i] as HTMLElement).style.display = "none";
		}

		for (let i = 0; i < dots.length; i++) {
			dots[i].className = dots[i].className.replace(" active", "");
		}

		(slides[slideIndex - 1] as HTMLElement).style.display = "block";
		dots[slideIndex - 1].className += " active";
	}

	function plusSlides(n) {
		showSlides((slideIndex += n));
	}

	function currentSlide(n) {
		showSlides((slideIndex = n));
	}

	function autoShowSlides() {
		plusSlides(1);
	}

	document.addEventListener("DOMContentLoaded", () => {
		showSlides(slideIndex);

		document
			.querySelector(".prev")
			.addEventListener("click", () => plusSlides(-1));
		document
			.querySelector(".next")
			.addEventListener("click", () => plusSlides(1));

		const dots = document.getElementsByClassName("dot");
		for (let i = 0; i < dots.length; i++) {
			dots[i].addEventListener("click", () => currentSlide(i + 1));
		}

		setInterval(autoShowSlides, 3000); // Change slide every 3 seconds
	});
</script>
