---
import Icons from "../components/Icons.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const t = useTranslations(getLangFromUrl(Astro.url));
---

<footer class="footer bg-[#f8f9fa] py-8 text-gray-700">
	<div class="container mx-auto px-4 md:px-8">
		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
			<div class="text-justify">
				<h2 class="text-2xl font-bold text-[#3c005a] mb-4">
					{t("footer_title_1")}
				</h2>
				<p class="mb-4 text-[#000000]">
					{t("footer_title_1_description_p1")}
				</p>
				<p>
					{t("footer_title_1_description_p2")}
				</p>
			</div>
			<!-- Optional Section for Links -->
			<!-- <div class="text-center">
				<h3 class="text-[#3c005a] text-xl font-semibold mb-4">
					{t("footer_title_4")}
				</h3>
				<ul class="list-none space-y-2">
					<li><a class="text-[#800080] no-underline" href="#">{t("footer_title_4_s1")}</a></li>
					<li><a class="text-[#800080] no-underline" href="#">{t("footer_title_4_s2")}</a></li>
					<li><a class="text-[#800080] no-underline" href="#">{t("footer_title_4_s3")}</a></li>
					<li><a class="text-[#800080] no-underline" href="#">{t("footer_title_4_s4")}</a></li>
					<li><a class="text-[#800080] no-underline" href="#">{t("footer_title_4_s5")}</a></li>
				</ul>
			</div> -->
			<div class="text-center">
				<p class="text-lg font-semibold text-[#3c005a] mb-4">
					{t("footer_title_2")}
				</p>
				<ul class="list-none space-y-2">
					<li class="flex items-center">
						<span class="mr-2"><i class="fa-solid fa-phone"></i></span>
						<a class="text-[#800080] no-underline" href="Tel:+94 70 461 6400"
							>+94 70 461 6400</a
						>
					</li>
					<li class="flex items-center">
						<span class="mr-2"><i class="fa-solid fa-envelope"></i></span>
						<a
							class="text-[#800080] no-underline"
							href="Mailto:examsmora@gmail.com">examsmora@gmail.com</a
						>
					</li>
				</ul>
				<div class="mt-4">
					<p class="text-lg font-semibold text-[#3c005a] mb-2">
						{t("footer_title_3")}
					</p>
					<Icons />
				</div>
			</div>
		</div>
	</div>
</footer>

<div class="text-center border-t border-gray-300 py-4">
	<p>
		Made with 💟 by <a
			class="font-semibold text-[#3c005a] no-underline"
			href="https://github.com/moraexams">Mora Exams</a
		>
	</p>
</div>

<style>
	.footer {
		background-color: #f8f9fa;
	}
	ul {
		padding: 0;
		margin: 0;
	}
	ul li {
		margin-bottom: 0.5rem;
	}
	.text-justify {
		text-align: justify;
	}
	.text-center {
		text-align: center;
	}
	.container {
		max-width: 1200px;
		margin: 0 auto;
	}
	.grid {
		display: grid;
	}
	.gap-8 {
		gap: 2rem;
	}
	@media (min-width: 768px) {
		.md\:grid-cols-2 {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	@media (min-width: 1024px) {
		.lg\:grid-cols-3 {
			grid-template-columns: repeat(3, 1fr);
		}
	}
</style>
